@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

a:hover {
  text-decoration: none;
}

.logo .navbar-brand {
  width: 150px;
  border: 1px solid #003e71;
  padding: 6px;
  border-radius: 100%;
}

img {
  width: 100%;
}

.header-top-row {
  padding: 30px 0;
}

.navbar-nav>li>a {
  color: #676767;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 30px;
  display: block;
}

.shoping-bag {
  padding-left: 20px;
}

.shoping-bag i {
  font-size: 20px;
  color: #124771;
}

.shoping-bag span {
  width: 22px;
  height: 22px;
  background: #0074a5;
  border-radius: 100%;
  color: #fff;
  top: 0;
  right: -25px;
  font-size: 12px;
}

.ex-heading {
  text-align: right;
}

.ex-heading span {
  position: relative;
  font-size: 110px;
  text-align: right;
  z-index: 1;
  color: #003e6f;
  font-weight: 800;
  margin-top: 30px;
  display: inline-block;
}

.ex-heading span:before {
  position: absolute;
  content: "";
  border-bottom: 20px solid #ffdc98;
  width: 95%;
  bottom: 16px;
  left: 45px;
  z-index: -1;
}

.seed-cup {
  position: relative;
  margin-top: 30px;
}

.seed-cup h3 {
  font-size: 50px;
  padding-left: 240px;
  color: #003e71;
  text-align: right;
}

.seed-cup-image {
  width: 100px;
  position: absolute;
  right: -85px;
  z-index: 1;
}

.ex-coffee-content {
  padding: 0px 30px 10px 0;
  margin-top: 60px;
  position: relative;
}

.ex-coffee-content:after {
  position: absolute;
  content: "";
  height: 90%;
  top: 0;
  right: -30px;
  width: 100%;
  border-right: 20px solid #f0e66a;
}

.ex-coffee-content h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #363636;
}

.ex-coffee-content p {
  font-size: 18px;
  color: #363636;
  font-weight: 500;
  line-height: 35px;
}

.cta-btn {
  background: 0;
  border-radius: 0;
  border: 1px solid #4baccd;
  padding: 6px 25px;
}

.cta-btn>a {
  color: #1d7390;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
}

.cta-btn>a>i {
  font-size: 8px;
  margin-left: 3px;
}

.section {
  padding-bottom: 150px;
}

.pts-coffee-image {
  height: 100%;
  position: relative;
}

.pts-coffee-image:after {
  content: "";
  position: absolute;
  border-bottom: 20px solid #00639a;
  width: 90%;
  bottom: -20px;
  right: 0;
}

.pts-coffee-image:before {
  content: "";
  position: absolute;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #fff;
  left: 50%;
  bottom: -30px;
  z-index: 1;
}

.pts-coffee-image img {
  object-fit: cover;
  height: 100%;
}

.featured-coffee-heading {
  color: #016d9e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}


/* custum-container css */

@media(min-width: 1600px) {
  .custum-container {
    max-width: 1599px;
  }
}

.feature-img>img {
  min-height: 520px;
  object-fit: cover;
}

.feature-sub-imgage-box {
  max-width: 190px;
  top: 57%;
  right: 10%;
  position: absolute;
}

.feature-sub-imgage-box>h2 {
  font-size: 25px;
  text-align: center;
  color: #046393;
  font-weight: 800;
  padding: 15px;
  margin: 0;
}

.feature-sub-img>img {
  min-width: 190px;
  min-height: 330px;
  object-fit: cover;
  border: 8px solid #fff;
}

.feature-image-content {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
}

.feature-image-content-box {
  width: 400px;
}

.content-heading {
  font-size: 35px;
  color: #046393;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature-image-content h3 {
  color: #333333;
  margin-bottom: 20px;
}

.feature-image-content span {
  color: #6c6c6c;
  margin-bottom: 12px;
  display: block;
  font-style: italic;
}

.feature-image-content p {
  color: #343434;
}

.view-product {
  font-style: initial;
  color: #053e69;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.view-product:after {
  position: absolute;
  content: "";
  border-bottom: 5px solid #fbefd7;
  width: 110%;
  bottom: 2px;
  left: 0;
  z-index: -2;
}

.question-guide-banner {
  background: url("../images/full-image.jpg");
  background-size: cover;
  padding: 170px 0;
  z-index: 1;
}

.question-guide-box {
  background: #fff;
  padding: 50px 30px 30px 15px;
  position: relative;
}

.question-guide-box h2 {
  font-size: 30px;
  color: #00407a;
  font-weight: 800;
  margin-bottom: 25px;
  line-height: 1.5;
}

.question-guide-box-image {
  width: 110px;
  position: absolute;
  right: 25px;
  top: 80px;
}

.question-guide-box p {
  color: #343434;
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 20px;
}

.question-guide-box:before {
  position: absolute;
  content: "";
  border-right: 40px solid #fadf6a;
  width: 100%;
  right: -10px;
  bottom: -10px;
  height: 75%;
  z-index: -1;
}

.question-guide-box:after {
  position: absolute;
  content: "";
  border-bottom: 20px solid #00639a;
  height: 100%;
  width: 60%;
  bottom: -20px;
  right: 30px;
}


/* our story box css */

.our-story-box {
  margin-bottom: 70px;
}

.our-story-box-image {
  margin-right: 20px;
}

.our-story-heading h2 {
  font-size: 50px;
  color: #016ca0;
  font-weight: 800;
  margin-bottom: 40px;
}

.our-story-box-img img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.our-story-content-box span {
  color: #38a0df;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.our-story-content-box h3 {
  font-size: 25px;
  font-weight: 700;
  color: #0066a0;
  margin-bottom: 25px;
}

.our-story-content-box p {
  font-size: 16px;
  color: #353535;
  margin-bottom: 20px;
}

.stories-btn {
  padding: 15px 90px;
}


/* pts-coffee-pl css */

.pts-coffee-pl-content-box {
  background: #003e6f;
}

.pts-coffee-pl-content {
  padding: 125px 50px 125px 180px;
}

.pts-coffee-pl-content:after {
  content: "";
  position: absolute;
  height: 15px;
  background: #fadf6a;
  width: 75%;
  bottom: -15px;
  right: 0;
}

.pts-coffee-pl-content span {
  color: #feffff;
  font-size: 11px;
  display: block;
  padding-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pts-coffee-pl-content h2 {
  font-size: 40px;
  color: #feffff;
  margin-bottom: 20px;
}

.pts-coffee-pl-content p {
  color: #fffcf6;
  line-height: 1.9;
  font-size: 15px;
}

.pl-btn {
  color: #fff!important;
}

.pl-btn>i {
  color: #dfe79a;
}

.pl-arrow {
  position: absolute;
  transform: translateY(-50%);
  top: 50px;
  left: 0;
}

.pl-arrow>i {
  color: #fff;
  font-size: 35px;
  margin-right: 35px;
  font-weight: 100;
}

.pts-coffee-pl-image-box {
  padding: 0;
}

.pts-coffee-pl-image-box:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100px;
  background: #003e6f;
  top: 0;
}

.pts-coffee-pl-image {
  transform: translateY(100px);
}

.pts-coffee-pl-image img {
  height: 100%;
  object-fit: cover;
}

.hand-crafted-logo {
  position: absolute;
  top: 55%;
  transform: translateX(-50%);
  background: #003e6f;
  padding: 12px;
  border-radius: 100%;
}

.subscription-box {
  padding-top: 50px;
}

.subscription-box-image img {
  min-height: 400px;
  object-fit: cover;
}

.subscription-box-content a {
  z-index: 0;
}

.subscription-box-content {
  padding: 20px 30px 5px;
  background: #fff;
  width: 81%;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}

.line-logo {
  width: 160px;
}


/* footer css */

.footer-section {
  background-image: url(../images/love-logo.png);
  background-repeat: no-repeat;
  background-position: center top -30px;
  margin-top: 125px;
  z-index: 9;
  background-color: #e6f2fe;
}

.footer-top {
  padding: 40px;
}

.footer-menu>h4 {
  color: #003d72;
}

.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-list>li {
  text-transform: uppercase;
  padding: 4px 0;
}

.footer-menu-list>li>a {
  color: #003d72;
  font-size: 16px;
}

.love-coffee {
  text-align: center;
  color: #003e71;
  text-transform: uppercase;
  padding-top: 125px;
}

.love-heading {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 800;
  position: relative;
}

.love-coffee h5 {
  font-size: 12px;
  padding-bottom: 5px;
}

.love-heading:before {
  content: "";
  position: absolute;
  border-top: 1px solid #003e71;
  width: 52%;
  left: 72px;
}

.love-heading:after {
  content: "";
  position: absolute;
  border-top: 1px solid #003e71;
  width: 85%;
  left: 34px;
  bottom: -2px;
}

.love-heading span {
  font-size: 60px;
  display: inline-block;
  position: relative;
}

.love-heading span:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 1px;
  background: #003e71;
  top: 4px;
  left: 4px;
}

.love-heading span:after {
  content: "";
  position: absolute;
  width: 175%;
  height: 1px;
  background: #003e71;
  bottom: 0;
  right: -44px;
}

.welcome-image {
  width: 65px;
  position: relative;
  top: -18px;
}

.welcome-image:last-child {
  transform: rotateY(180deg);
}

.coffee-content {
  font-size: 35px;
  text-transform: uppercase;
}

.social-icon-box {
  color: #003e71;
}

.social-icon-box>p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.email-arrow {
  border-bottom: 1px solid #003e7182;
  padding-bottom: 10px;
  position: relative;
}

.email-arrow>input {
  border: none;
  background: 0;
  width: 100%;
  outline: none;
}

::placeholder {
  color: #003e71;
}

.email-arrow>i {
  font-size: 25px;
  position: absolute;
  right: 0;
}

.social-icon {
  padding-top: 105px;
}

.social-icon>a>i {
  font-size: 25px;
  border: 1px solid #003e71;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  color: #003e71;
}


/*footer-bottom css */

.footer-bottom {
  background: #003e6f;
}

.footer-bottom-logo {
  border: 1px solid #003e6f;
  position: absolute;
  width: 125px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 6px;
  border-radius: 100%;
}

.footer-bottom-content {
  color: #ffffff;
  padding: 20px 0;
  font-size: 13px;
  text-transform: uppercase;
}

.bottom-icon {
  font-size: 35px;
  margin-right: 12px;
  transform: rotateY(180deg);
}


/* responsive css */

@media(max-width: 767px) {
  .ex-heading {
    text-align: center;
  }
  .ex-heading span {
    font-size: 50px;
  }
  .seed-cup {
    justify-content: space-around;
  }
  .seed-cup h3 {
    padding-left: 0;
    font-size: 30px;
  }
  .seed-cup-image {
    position: static;
  }
  .our-story-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pts-coffee-pl-content {
    padding: 30px;
  }
  .hand-crafted-logo {
    top: 0;
    right: 0;
  }
  .love-coffee-image {
    top: 0;
  }
  .footer-bottom-logo {
    top: 78px;
  }
  .ex-coffee-content:after {
    display: none;
  }
  .ex-coffee-content .cta-btn {
    text-align: center;
  }
  .ex-heading span:before {
    bottom: 6px;
    border-bottom: 10px solid #ffdc98;
    left: 20px;
  }
  .our-story-box-image {
    margin: 0 0 15px 0;
  }
  .welcome-image {
    width: 50px;
  }
  .love-coffee {
    padding: 25px 0;
  }
  .social-icon {
    padding: 15px 0;
  }
}